figures/
.idea/
*.xml
.idea/misc.xml
.idea/patmat_plot.iml
.idea/workspace.xml
figures/scalability_labelled_communication_legend.pdf
figures/scalability_labelled_communication_query3.pdf
figures/scalability_labelled_communication_query6.pdf
figures/scalability_labelled_mem_legend.pdf
figures/scalability_labelled_mem_query3.pdf
figures/scalability_labelled_mem_query6.pdf
figures/scalability_labelled_var_density_legend.pdf
figures/scalability_labelled_var_density_query3.pdf
figures/scalability_labelled_var_density_query6.pdf
figures/scalability_labelled_var_labelled_legend.pdf
figures/scalability_labelled_var_labelled_query3.pdf
figures/scalability_labelled_var_labelled_query6.pdf
figures/scalability_labelled_vary_workers_legend.pdf
figures/scalability_labelled_vary_workers_query3.pdf
figures/scalability_labelled_vary_workers_query6.pdf
figures/scalability_lj_communication_legend.pdf
figures/scalability_lj_communication_query1.pdf
figures/scalability_lj_communication_query2.pdf
figures/scalability_lj_communication_query3.pdf
figures/scalability_lj_mem_legend.pdf
figures/scalability_lj_mem_query1.pdf
figures/scalability_lj_mem_query2.pdf
figures/scalability_lj_mem_query3.pdf
figures/scalability_vary_workers_legend.pdf
figures/scalability_vary_workers_query1.pdf
figures/scalability_vary_workers_query2.pdf
figures/scalability_vary_workers_query3.pdf
figures/scalability_workers_runningtime_query1.pdf
figures/scalability_workers_runningtime_query2.pdf
figures/scalability_workers_runningtime_query3.pdf
figures/vary_dataset_legend.pdf
figures/vary_dataset_q0.pdf
figures/vary_dataset_q1.pdf
figures/vary_dataset_q2.pdf
figures/vary_dataset_q3.pdf
figures/vary_dataset_q4.pdf
figures/vary_dataset_q5.pdf
figures/vary_dataset_q6.pdf
figures/vary_dataset_q7.pdf
figures/vary_dataset_q8.pdf
figures/vary_dataset_q9.pdf
figures/vary_labelled_dataset_legend.pdf
figures/vary_labelled_dataset_q0.pdf
figures/vary_labelled_dataset_q1.pdf
figures/vary_labelled_dataset_q2.pdf
figures/vary_labelled_dataset_q3.pdf
figures/vary_labelled_dataset_q4.pdf
figures/vary_labelled_dataset_q5.pdf
figures/vary_labelled_dataset_q6.pdf
figures/vary_labelled_dataset_q7.pdf
figures/vary_labelled_dataset_q8.pdf
figures/vary_queries_GP.pdf
figures/vary_queries_legend.pdf
figures/vary_queries_US.pdf
